main {
  margin: auto;
  width: 90%;
}

/* registro */

.register {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.register h3 {
  padding: 10px 0;
}

.datosUsuario {
  display: flex;
  flex-direction: column;
}

.datosUsuario input {
  border: none;
  height: 35px;
  border-radius: 5px;
  padding: 8px;
  margin: 20px 0;
}

.date {
  border: none;
  height: 35px;
  border-radius: 5px;
  padding: 8px;
  margin: 20px 0;
}

.user-profile {
  display: flex;
}

.radio {
  padding: 10px 50px 10px 0;
}

.radio label {
  padding-right: 5px;
}

.interes {
  display: flex;
  flex-direction: column;
}

.check {
  padding: 10px 50px 10px 0;
}

.check label {
  padding-right: 5px;
}

.imagen {
  background-color: #fff;
  border: none;
  height: 35px;
  border-radius: 5px;
  padding: 8px;
  margin: 20px 0;
}

.clave {
  display: flex;
  flex-direction: column;
}

.clave input {
  border: none;
  height: 35px;
  border-radius: 5px;
  padding: 8px;
  margin: 20px 0;
}

.register button {
  color: #fff;
  background-color: #1259c3;
  margin-top: 20px;
  height: 35px;
  border-radius: 5px;
  border: none;
}
.error {
  display: none;
  color: red;
}

input:invalid + .error {
  display: block;
}

/*tablet*/
@media (min-width: 520px) {
  main {
    width: 75%;
  }
}

/*desk*/
@media (min-width: 1280px) {
  main {
    width: 60%;
  }
}