main {
  margin: auto;
  width: 90%;
}

/* registro */

.register {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.register h3 {
  padding: 10px 0;
}

.datosUsuario {
  display: flex;
  flex-direction: column;
}

.datosUsuario input {
  border: none;
  height: 35px;
  border-radius: 5px;
  padding: 8px;
  margin: 20px 0;
}

.date {
  border: none;
  height: 35px;
  border-radius: 5px;
  padding: 8px;
  margin: 20px 0;
}
